[submodule "cases/pin_connectors"]
	path = cases/pin_connectors
	url = https://github.com/tbuser/pin_connectors.git
[submodule "openscad_DEVKIT-MPC57xx"]
	path = openscad_DEVKIT-MPC57xx
	url = https://github.com/jed-frey/openscad_DEVKIT-MPC57xx
[submodule "slic3r_profiles"]
	path = slic3r_profiles
	url = https://github.com/jed-frey/slic3r_profiles.git
[submodule "scad-utils"]
	path = scad-utils
	url = https://github.com/openscad/scad-utils.git
